<h2>Hello kedves látogató</h2>

<h3>Jelentkezz be</h3>

<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
                'user', array(
            'action' => 'login',
                )
        ));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();

if (!empty($messages)) {
    echo '<ul class="messages">';
    foreach ($messages as $message) {
        echo '<li>' . $message . '</li>';
    }
    echo '</ul>';
}
?>

Regisztrációért katt <a href="<?php echo $this->url('user', array('action' => 'add')) ?>"><?php echo $this->translate('ide') ?></a>.
