<div>
    <?php
    $title = 'Felhasználók feltöltése';
    $this->headTitle($title);
    ?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
    <?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('user', array('action' => 'upload')));
    $form->prepare();

    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('file'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();

    if (!empty($messages)) {
        echo '<ul class="messages">';
        foreach ($messages as $message) {
            echo '<li>' . $message . '</li>';
        }
        echo '</ul>';
    }

    if (!empty($success)) {
        ?>
        <h3>A következő felhasználók lettek betöltve: </h3>
        <table class="table">
            <tr>
                <th>Felhasználónév</th>
                <th>E-mail</th>
                <th>Teljes név</th>
            </tr>
            <?php foreach ($success as $user) : ?>
                <tr>
                    <td><?php echo $this->escapeHtml($user->username); ?></td>
                    <td><?php echo $this->escapeHtml($user->email); ?></td>
                    <td><?php echo $this->escapeHtml($user->name); ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
        <?php
    }
    
    
    if (!empty($failed)) {
        ?>
        <h3>A következő felhasználókat nem sikerült betölteni: </h3>
        <table class="table" style="color: red;">
            <tr>
                <th>Felhasználónév</th>
                <th>E-mail</th>
                <th>Teljes név</th>
            </tr>
            <?php foreach ($failed as $user) : ?>
                <tr>
                    <td><?php echo $this->escapeHtml($user->username); ?></td>
                    <td><?php echo $this->escapeHtml($user->email); ?></td>
                    <td><?php echo $this->escapeHtml($user->name); ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
        <?php
    }
    ?>

</div>
