<?php
echo $this->doctype();
$logged = isset($_SESSION['logged']) ? $_SESSION['logged'] : false;
?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('5net - PHP programozó, felvételi teszt feladat'); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.png'))
                ->prependStylesheet($this->basePath() . '/css/style.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/js/jquery.min.js')
        ?>

    </head>
    <body>
        <div id="header_bar">

        </div>
        <div id="wrapper">
            <div id="header">
                <div id="top_menu">
                    <ul>
                        <li><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Kezdőoldal') ?></a></li>
                        <?php
                        if ($logged) {
                            ?>
                            <li><a href="<?php echo $this->url('user') ?>"><?php echo $this->translate('Felhasználók') ?></a></li>
                            <li><a href="<?php echo $this->url('user', array('action' => 'upload')) ?>"><?php echo $this->translate('Feltöltés') ?></a></li>
                            <li style="float: right;"><a class="logout" href="<?php echo $this->url('user', array('action' => 'logout')) ?>">Kijelentkez</a></li>
                            <?php
                        }
                        ?>

                    </ul>
                </div>
            </div>
            <div id="content">
                <?php echo $this->content; ?>

            </div>
            <div id="footer">
                <a href="http://framework.zend.com">
                    <img src="<?php echo $this->basePath(); ?>/img/zf2-logo.png" alt="Zend logo" title="Zend Framework 2" />
                </a>
                Created by Richard Dudek &copy; 2013
            </div>
            <div style="clear: both; "></div>
        </div>
        <?php echo $this->inlineScript() ?>
    </body>
</html>
